/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*----- fox website: custom styling ----------*/

/*----- typograhpy ----------*/

:root {
  font-size: 16px;
  --line-height-base: 1.6;
  --container-padding: 1rem;

  /* Type Scale — fluid via Utopia */
  --text-xs: clamp(0.6076rem, 0.5944rem + 0.0588vw, 0.64rem);
  --text-sm: clamp(0.7292rem, 0.7002rem + 0.1288vw, 0.8rem);
  --text-base: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
  --text-lg: clamp(1.05rem, 0.9682rem + 0.3636vw, 1.25rem);
  --text-xl: clamp(1.26rem, 1.1363rem + 0.55vw, 1.5625rem);
  --text-2xl: clamp(1.512rem, 1.3315rem + 0.802vw, 1.9531rem);
  --text-3xl: clamp(1.8144rem, 1.5579rem + 1.14vw, 2.4414rem);
  --text-4xl: clamp(2.1773rem, 1.8195rem + 1.59vw, 3.0518rem);
  --text-5xl: clamp(2.6127rem, 2.121rem + 2.1854vw, 3.8147rem);
}

body {
  font-family: "Spline Sans", sans-serif;
  font-size: var(--text-base);
  /* font-weight: 600; */
  color: #222;
  line-height: var(--line-height-base);
}

/* Utility Classes */
.text-xs {
  font-size: var(--text-xs);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}
.text-2xl {
  font-size: var(--text-2xl);
}
.text-3xl {
  font-size: var(--text-3xl);
}
.text-4xl {
  font-size: var(--text-4xl);
}
.text-5xl {
  font-size: var(--text-5xl);
}

.text-heading {
  line-height: 1.2;
  letter-spacing: -0.03rem;
}

/*----- global styling ----------*/

a {
  color: inherit;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  background-color: #222;
  border: 1px solid #222;
  border-radius: 0.25rem;
}

.btn-secondary {
  color: #222;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

img {
  width: 100%;
  height: auto;
}

.fw-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.mw-container {
  width: 100%;
  max-width: 1200px;
  padding: var(--container-padding);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  :root {
    --container-padding: 2rem 1rem;
  }
}
